/* ********* HEADER ********* */

#cabecalho{
	height: 140px;
	border-bottom: 1px solid #7E5D4F;
}

#logoheader{
	width: 240px;
	margin-left: -20px;
}

#menu{
	display: block;
}

#menu ul{
	list-style: none;
	position: absolute;
	top: 40px;
	left: 331px;
}

#menu li{
	display: inline-block;
	padding: 10px;
	margin: 2px;
	cursor: pointer;
	font-size: 40px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
}

#menu a{
	color: #3B7A57;
	text-shadow: 0px 2px 2px rgb(0, 0, 0, 0.3) ;
	text-decoration: none;
}

#icon{
	display: flex;
	position: absolute;
	margin-left: 1160px;
	top: 125px;
}

.app{
	width: 230px;
	height: 50.224px;
	flex-shrink: 0;
	padding: 5px;
	margin: -75px;
	cursor: pointer;
}


/* ********* BODY ********* */

body{
	position: relative;
	background-image: url('imagens/background.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#teste{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 100px;
}

.card{
	width: 616px;
	height: 992px;
	flex-shrink: 0;
}

/* ********* FOOTER ********* */

footer {
  background-image: url('imagens/footer.png');
  background-size: cover;
  background-position: center;
  height: 165px;
  width: 100%;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 1300px;
  
}

#endereco{
	color: #FFD700;
	font-size: 19.2px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	position: absolute;
	top: 49px;
	margin-left: 500px;
}

#contato{
	color: #FFD700;
	font-size: 19.2px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	position: absolute;
	top: 30px;
	margin-left: 780px;
}

#imgfooter{
	width: 267px;
	height: 165px;
	position: absolute;
	margin-left: 1300px;
	top: 0px;
	align-items: center;
}

#interface{

}